* {
  box-sizing: border-box;
}
body {
  background-color: #ccc;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
}
b {
  font-weight: bold;
}
/* ==========CV=========== */
.cv {
  max-width: 731px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 36px 0;
}
.header .start-header {
  margin: 0 auto;
  text-align: center;
}
.cv .header h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}
.cv .content .start-content {
  margin-top: 36px;
  font-weight: bold;
}
.cv .container {
  margin: 0 auto;
  max-width: 600px;
}
.cv h2 {
  font-size: 16px;
  font-weight: bold;
}
.cv h3 {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.cv hr {
  border: none;
  background-color: black;
  height: 2px;
}
.cv ul {
  list-style: disc;
}
.cv h3 + ul {
  margin-top: 22px;
}
.cv .job-title {
  margin-top: 16px;
}

/* ===============MENU=================== */
.menu ul {
  display: flex;
  justify-content: center;
  background-color: #3e5cca;
}
.menu ul a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 28px 16px;
  font-size: 20px;
}
.menu ul a:hover {
  background-color: white;
  color: black;
}
.menu .active {
  background-color: white;
  color: black;
}
